/* CLASSI COMUNI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;;
}

.container{
    max-width: 100vw;
}

.btn{
    background-color: #0058e6;
    border: none;
    color: white;
    padding: 10px 15px;
}

.btn:hover{
    background-color: #006eff;
}

.btn:active{
    filter: brightness(70%);
}

.page {
    width: 100%;
}

.margin-10{
    margin: 0 10%;
}

.margin-15{
    margin: 0 15%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* SEZIONE HEADER */

header{
    position: fixed;
    width: 100%;
    height: 10% - 1.33px;
    background-color: white;
    top:0;
    z-index: 1;
}

nav{
    min-width: 1180px;
    min-height: 83px;
}

ul {
    list-style-type: none;
}

.ul-l{
    float:left;
}

.ul-r{
    float:right;
}

nav li{
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
}

header a{ 
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header a:hover{
    border-bottom: 3px solid lightgray;
}

#logo:hover{
    background-color: white;
    border-bottom: none;
}

#start{
    line-height: 40px;
    background-color: #006eff;
    padding: 0 20px;
    color: white;
}

#start:hover{
    background-color: #2684ff;
    border: none;
}

#start:active{
    filter: brightness(70%);
}

/* SEZIONE PRIMA PAGINA */

.p1{
    background-color: #b4d0e7;
}

.p1-title{
    padding-top: 100px;
}

.p1-title h1{
    font-size: 5rem;
}

.p1-body{
    margin-top: 50px;
    padding-bottom: 80px;
    position: relative;
}

.p1-body {
    display: inline-block;
    vertical-align: top;
}

.p1-body-left{
    width: 30%;
}

.p1-body-left p{
    vertical-align: top;
    line-height: 20px;
}

.p1-body-right{
    margin-left: 5%;
}

.p1-body-right img{
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
}

.p1-body-left button{
    font-size: 1.2em;
    margin: 6% 0;
}

.p1-body-left span{
    display: block;
}

.p1-body-left .fas{
    margin-top: 10%;
    color: black;
    font-size: 3em;
}

/* SEZIONE SECONDA PAGINA */

.p2{
    padding: 10px;
    margin-top: 225px;
}

.p2-title{
    display: inline-block;
}

.p2-title h2{
    font-size: 2.5rem;
}

.p2-title span{
    display: inline-block;
    margin-top: 50px;
    padding-right: 5%;
}

span .radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: text-bottom;
}

span .radio:hover{
    cursor: pointer;
}

.r1{
    border: 5px solid #006eff;
}

.r2{
    border: 1px solid #575757b4;
}

/* SEZIONE SECONDA PAGINA - COLONNE*/

.p2-body{
    margin-top: 50px;
}

.column {
    display: inline-block;
    width: calc(100%/3 - 36.3px); 
    border: 1px solid #d0d0d3;
    vertical-align: top;
}

.cln-middle{
    margin: 0 50px;
}

.row-bottom{
   width: 100%;
   border: 1px solid #d0d0d3;
   margin-top: 50px;
}

.p2-body .cln-title{
    display: block;
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    line-height: 50px;
}

.fa-building,
.user-title{
    padding-right: 10px;
}

.cln-body{
    margin: 10% 10% 0 15%;
    min-height: 800px;
}

.cln-body h3{
    font-size: 1.5em;
}

/* SEZIONE SECONDA PAGINA - PERSONALIZZAZIONE SPAN COLONNE*/

.cln-body span{
    display: block;
    margin: 10% 0;
}

.cln-body .far,.fas{ 
    padding-right: 5%; /* Distanziamento di ogni icona di FONT AWESOME*/
}

.cln-body .fa-check{
    color: #006eff;
}

.cln-body hr{
    width: 20%;
    margin: 40px 0;
}

/* NB: Non creo una classe o un ID per ogni span, approfitto del selettore nth*/

.cln-body i{
    margin-left: -30px;
}

.cln-body span:nth-child(2){
    font-weight: 700;
    margin: 25px 0;
}

.cln-body span:nth-child(3){
    color: #707f8b;
    margin: 5px 0;
}

.cln-body span:nth-child(4){
    margin: 25px 0;
}

.cln-body span button{
    width: 100%;
}

.cln-body span a{
    color: #006eff;
}

.cln-body span:nth-child(10){
    font-weight: 700;
    font-size: 1.1em;
}

.row-bottom .cln-body p{
    font-weight: 700;
    margin: 25px 0;
}

.row-bottom .cln-body {
    margin: 5% 5% 0 5%;
    min-height: 150px;
    position: relative;
}

.row-bottom .cln-body .btn{
    position: absolute;
    top: -20px;
    right: 0;
}

/* 2 ID per sovrascrivere gli nth dati sopra  */

#span-exception1{
    font-weight: 700; 
    color: black;
}

#span-exception2{
    color: black;
}

/* SEZIONE TERZA PAGINA */

.p3-container{
    margin-top: 10%;
    vertical-align: top;
}

.p3-left,
.p3-right {
    display: inline-block;
    vertical-align: top;
}

.p3-left{
    width: 50%;
}

.p3-left img{
    width: 100%;
}

.p3-right{
    width: 49%;
}

.p3-right *{
    margin: 5% 10%;
}

.p3-right p{
    line-height: 30px;
}

.p3-right .btn{
    margin: 0 10%;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 1.2em;
}

/* SEZIONE QUARTA PAGINA */

.p4-container{
    margin-top: 100px;
}

.p4-title h2{
    line-height: 40px;
    font-size: 2.5em;
}

.p4-body div{
    width: calc(100%/3 - 40px);
    margin: 20px 20px;
    float: left;
}

.p4-body img{
    width: 100%;
}

.p4-body h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.p4-body p{
    line-height: 22px;
}

/* SEZIONE QUINTA PAGINA - PICCOLINA */

.mini-p5-container{
    margin: 5% 0;
    margin-left: 16%;
}

.mini-p5-container h2{
    line-height: 40px;
    font-size: 2.5em;
}

.mini-p5-container a{
    display: block;
    margin-top: 2%;
    color: #0058e6;
}

/* SEZIONE SESTA PAGINA */

.p6-body{
    width: 100%;
}

.p6-left,
.p6-middle,
.p6-right{
    width: calc(100%/3 - 3px);
}

.svg{
    display: inline-block;
    height: 16vw;
    width: 16vw;
    padding: 35px;
}

.svg img{
    height: 100%;
    width: 100%;
    fill: white;
}

.p6-left{
    display: inline-block;
}

.p6-middle{
    display: inline-block;
    background-color: #f5f5f5;
    vertical-align: top;
    padding: 2em 1em;
}

.p6-middle img{
    width: 150px;
}

.p6-middle p{
    margin: 2em 0;
}

.p6-middle .p-overflow{
    overflow-y: scroll;
    max-height: 250px;
}

.p6-right{
    display: inline-block;
}

/* PERSONALIZZAZIONE SVG SINGOLE */

.designit{
    background-color: #a2d39b;
    border: 5px solid #d0e9cd;
}

.asu{
    background-color: #61082b;
}

.uof{
    background-color: #0093ce;
}

.toppf{
    background-color: #ff1c1c;
}

.wbr{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.planet{
    background-color: #0d2481;
}

.clearc{
    background-color: #af951f;
}

/* SEZIONE SETTIMA PAGINA */

.p7 {
    background-color: #b4d0e7;
}

.p7-body h2{
    display: inline-block;
    font-size: 2.5em;
    padding: 150px 0;
    padding-right: 150px;
    color: #61082b;
}

.p7-body button{
    display: inline-block;
    vertical-align: 80px;
    background-color: white;
    border: none;
    padding: 1em 5em;
    font-weight: 600;
}

.p7-body button:hover{
    background-color: #dfdfdf;
}

.p7-body button:active{
    filter: brightness(70%);
}

/* SEZIONE OTTAVA PAGINA */

.p8-body{
    height: 800px;
}

.p8-title{
    margin-top: 10%;
}

.p8-title h2{
    font-size: 2em;
}

.p8-main{
    width: 100%;
}

.p8-main h3{
    display: inline-block;
}

.p8-main .fas{
    float: right;
    padding:0;
}

.p8-main .fas:hover{
    cursor: pointer;
}

.p8 hr{
    width: 100%;
    margin: 50px 0;
}

.s8-main .p-hid{
    margin-top: 20px;
    display: none;
}

.s8-main:hover .p-hid{
    display: block;
}

/* SEZIONE FOOTER PAGINA */

.footer-container{
    height: 500px;
    background-color: black;
}

footer{
    padding: 8% 0 0 10%;
    width: 100%;
    color: white;
}

.footer-content{
    vertical-align: top;
    display:inline-block;
    width: calc(100%/5 - 80px);
    margin-right: 2%;
}

.footer-content ul{
    margin-top: 10%;
}

.footer-content li{
    line-height: 1.5em;
}

.footer-content a{
    color: white;
    margin-top: 5%;
    font-size: 0.8em;
    text-decoration: none;
}

.footer-bottom{
    padding-top: 7em;
}

.footer-bottom hr{
    width: 10%;
    padding-bottom: 2em;
    border: none;
    border-top: 1px solid white;
}

.footer-bottom span{
    display: inline-block;
    padding-top: 2em;
    padding: 0 1em;
}

.footer-bottom .fa-globe-americas{
    padding: 0;
}

.footer-bottom .fa-sort-up{
    vertical-align: middle;
}

.footer-bottom a{
    color:white;
}