/* CLASSI COMUNI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.container{
    max-width: 100vw;
}

.btn{
    background-color: #0058e6;
    border: none;
    color: white;
    padding: 10px 15px;
}

.btn:hover{
    background-color: #006eff;
}

.btn:active{
    filter: brightness(70%);
}

.page {
    width: 100%;
}

.margin-10{
    margin: 0 10%;
}

.margin-15{
    margin: 0 15%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* SEZIONE HEADER */

nav{
    width: 100%;
}

ul {
    list-style-type: none;
}

.ul-l{
    float:left;
}

.ul-r{
    float:right;
}

.ul-l li{
    display: inline-block;
}

.ul-r li{
    display: inline-block;
}

#logo{
    vertical-align: middle;
}

#logo:hover{
    background-color: white;
}

li {
    margin: 0 20px;
}

li a{ 
    display: inline-block;
    line-height: 80px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

li a:hover{
    background-color: #e7e7e7;
}

/* SEZIONE PRIMA PAGINA */

.p1{
    background-color: #b4d0e7;
}

.p1-title{
    padding-top: 100px;
}

.p1-title h1{
    font-size: 5rem;
}

.p1-body{
    margin-top: 50px;
    padding-bottom: 80px;
    position: relative;
}

.p1-body {
    display: inline-block;
    vertical-align: top;
}

.p1-body-left{
    width: 30%;
}

.p1-body-left p{
    vertical-align: top;
    line-height: 20px;
}

.p1-body-right{
    margin-left: 5%;
}

.p1-body-right img{
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
}

.p1-body-left button{
    font-size: 1.2em;
    margin: 6% 0;
}

.p1-body-left span{
    display: block;
}

.p1-body-left .fas{
    margin-top: 10%;
    color: black;
    font-size: 3em;
}

/* SEZIONE SECONDA PAGINA */

.p2{
    padding: 10px;
    margin-top: 225px;
}

.p2-title{
    display: inline-block;
}

.p2-title h2{
    font-size: 2.5rem;
}

.p2-title span{
    display: inline-block;
    margin-top: 50px;
    padding-right: 5%;
}

span .radio{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: text-bottom;
}

span .radio:hover{
    cursor: pointer;
}

.r1{
    border: 5px solid #006eff;
}

.r2{
    border: 1px solid #575757b4;
}

/* SEZIONE SECONDA PAGINA - COLONNE*/

.p2-body{
    margin-top: 50px;
}

.column {
    display: inline-block;
    width: calc(100%/3 - 36.3px); 
    border: 1px solid #d0d0d3;
    vertical-align: top;
}

.cln-middle{
    margin: 0 50px;
}

.row-bottom{
   width: 100%;
   border: 1px solid #d0d0d3;
   margin-top: 50px;
}

.p2-body .cln-title{
    display: block;
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    line-height: 50px;
}

.fa-building,
.user-title{
    padding-right: 10px;
}

.cln-body{
    margin: 10% 10% 0 10%;
    text-align: top;
    min-height: 800px;
}

.cln-body h3{
    font-size: 1.5em;
}

/* SEZIONE SECONDA PAGINA - PERSONALIZZAZIONE SPAN COLONNE*/

.cln-body span{
    display: block;
    margin: 10% 0;
}

.cln-body .far,.fas{ 
    padding-right: 5%; /* Distanziamento di ogni icona di FONT AWESOME*/
}

.cln-body .fa-check{
    color: #006eff;
}

hr{
    width: 20%;
    margin: 40px 0;
}

/* NB: Non creo una classe o un ID per ogni span, approfitto del selettore nth*/
.cln-body span:nth-child(2){
    font-weight: 700;
    margin: 25px 0;
}

.cln-body span:nth-child(3){
    color: #707f8b;
    margin: 5px 0;
}

.cln-body span:nth-child(4){
    margin: 25px 0;
}

.cln-body span:nth-child(7){
    margin: 40px 0;
    text-align: center;
}

.cln-body span button{
    width: 100%;
}

.cln-body span a{
    color: #006eff;
}

.cln-body span:nth-child(10){
    font-weight: 700;
    font-size: 1.1em;
}

.row-bottom .cln-body p{
    font-weight: 700;
    margin: 25px 0;
}

.row-bottom .cln-body {
    margin: 5% 5% 0 5%;
    min-height: 150px;
    position: relative;
}

.row-bottom .cln-body .btn{
    position: absolute;
    top: -20px;
    right: 0;
}

#span-exception{
    color: black;
}

/* SEZIONE TERZA PAGINA */

.p3-container{
    margin-top: 10%;
    vertical-align: top;
}

.p3-left,
.p3-right {
    display: inline-block;
    vertical-align: top;
}

.p3-left{
    width: 50%;
}

.p3-left img{
    width: 100%;
}

.p3-right{
    width: 49%;
}

.p3-right *{
    margin: 5% 10%;
}

.p3-right p{
    line-height: 30px;
}

.p3-right .btn{
    margin: 0 10%;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 1.2em;
}

/* SEZIONE QUARTA PAGINA */

.p4-container{
    margin-top: 100px;
}

.p4-title h2{
    line-height: 40px;
    font-size: 2.5em;
}

.p4-body div{
    width: calc(100%/3 - 40px);
    margin: 20px 20px;
    float: left;
}

.p4-body img{
    width: 100%;
}

.p4-body h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.p4-body p{
    line-height: 22px;
}

/* SEZIONE QUINTA PAGINA */

